---
import Icon from '../common/icon.astro';
import NavMenuItem from './nav-menu-item.astro';
import { icon, menu, nav, navWrapper } from './nav.css';
---

<nav class={navWrapper}>
  <div class={nav}>
    <a class={icon}>
      <Icon name='magnifying-glass' size={20} />
    </a>
    <div class={menu}>
      <NavMenuItem href='/'>소개</NavMenuItem>
      <NavMenuItem href='/projects'>작업</NavMenuItem>
      <NavMenuItem href='/contact'>연락처</NavMenuItem>
      <NavMenuItem href='/blog'>블로그</NavMenuItem>
    </div>
    <a class={icon}>
      <Icon name='github-logo' size={20} />
    </a>
  </div>
</nav>
